<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Edit Product {@product.id}
    <:subtitle>Use this form to manage product records in your database.</:subtitle>
  </.header>

  <.product_form changeset={@changeset} action={~p"/products/#{@product}"} return_to={~p"/products"} />
</Layouts.app>
