<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    New Product
    <:subtitle>Use this form to manage product records in your database.</:subtitle>
  </.header>

  <.product_form changeset={@changeset} action={~p"/products"} return_to={~p"/products"} />
</Layouts.app>
