/* Colors */
:root {
  --bg-primary: #1a1a1a;
  --bg-secondary: #2a2a2a;
  --fg-primary: #e0e0e0;
}
.fg-primary { color: var(--fg-primary); }
/* Tag styles */
body { background-color: var(--bg-primary); color: var(--fg-primary); }
a { color: #f1c40f; } 
a:hover { text-decoration: underline; }
/* Fonts */
* { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; }
* { line-height: 1.6; }
/* Components */
.card { 
  background-color: var(--bg-secondary);
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #3a3a3a;
}
.cell { display: flex; flex: 1; flex-direction: row; justify-content: space-between; align-items: center; }
/* Utility */
.flex { display: flex; }
.items-center { align-items: center; }
.justify-between { justify-content: space-between; }
.mb-4 { margin-bottom: 1rem; }
.m-0 { margin: 0; }
.none { display: none; }
.text-bold { font-weight: bold;}
.text-center { text-align: center; }
@media (min-width: 1024px) {
  .lg\:block { display: block; }
  .lg\:flex { display: flex; }
  .lg\:none { display: none; }
}
.text-decoration-none { text-decoration: none; }